#============= vold ==============
allow vold block_device:blk_file rw_file_perms;
allow vold efs_file:dir { ioctl open read };
allow vold fsck_exec:file execute_no_trans;
allow vold hal_bootctl_hwservice:hwservice_manager find;
